.all-achievements {
    width: 100%;
    height: calc(100dvh - 92px);
    overflow: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 20px;
    padding: 40px 20px 20px 20px;
    z-index: 2;
    .achievements-section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      .title {
        color: $black;
        font-family: $font-stack-neue-regrade;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 0px;
        width: 100%;
      }
      .wrap-achievements-card {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 32px 24px 24px 24px;
        justify-content: center;
        align-items: center;
        gap: 17px;
        border-radius: 30px;
        border: 1px solid $gray-4;
        background: $white;
      }
      .achievements-card {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 16px;
      }
  
      .achievement-row {
        display: flex;
        width: 100%;
        align-items: flex-start;
        gap: 24px;
        border-bottom: 2px solid $gray-17;
        padding-bottom: 16px;
        &:last-child {
          border-bottom: none;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
  
      .achievement-icon {
        width: 42px;
        height: 42px;
        background: $blue-1;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
  
        img {
          width: 24px;
          height: 24px;
          flex-shrink: 0;
        }
      }
  
      .achievement-content {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
  
      .achievement-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
  
        .title {
          font-family: $font-stack-neue-regrade;
          font-size: 16px;
          font-weight: 700;
          color: $black;
        }
  
        .achievement-progress-count {
          color: $gray-18;
          font-family: $font-stack-satoshi;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
  
      .progress-bar {
        height: 8px;
        border-radius: 5px;
        background: $gray-2;
        position: relative;
        overflow: hidden;
        margin-bottom: 16px;
  
        &.purple::before {
          content: '';
          position: absolute;
          height: 100%;
          left: 0;
          top: 0;
          background: $blue-1;
          border-radius: 5px;
        }
  
        &.full::before {
          width: 100%;
        }
  
        &.half::before {
            width: 50%;
          }

        &.medium::before {
          width: 37%;
        }
  
        &.low::before {
          width: 22%;
        }
        
        &.zero::before {
            width: 0%;
          }
      }
  
      .achievement-subtext {
        color: $gray-18;
        font-family: $font-stack-satoshi;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
  
      .btn-primary {
        width: 192px;
        align-self: center;
      }
    }
  }
  