.btn-skip {
  color: $black;
  text-align: center;
  font-family: $font-stack-satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0;
  background-color: transparent;
  border: 0;
  width: 100%;
  @include transition(0.3s);
  &:hover {
    color: $primary;
  }
}
.btn-skip-darkblue {
  color: $primary;
  text-align: center;
  font-family: $font-stack-satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0;
  background-color: transparent;
  border: 0;
  width: 100%;
  @include transition(0.3s);
  &:hover {
    color: $black;
  }
}
.btn-arrow-left {
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
  @include transition(0.3s);
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $black;
    width: 24px;
    height: 24px;
  }
}
.btn-prev {
  width: 29px;
  height: 25px;
  padding: 0;
  background-color: transparent;
  border: none;
  @include transition(0.3s);
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $gray-6;
    width: 29px;
    height: 25px;
    @include transition(0.3s);
  }
  &:hover {
    svg {
      fill: $primary;
    }
  }
}
.btn-back {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: $white;
  border: 1px solid $gray-9;
  @include border-radius(12px);
  @include transition(0.3s);
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $black;
    width: 32px;
    height: 32px;
    @include transition(0.3s);
  }
  &:hover {
    border: 1px solid $gray-9;
    background-color: $gray-9;
    svg {
      fill: $primary;
    }
  }
}

.btn-bar {
  width: 34px;
  height: 34px;
  padding: 0;
  background-color: transparent;
  border: none;
  @include transition(0.3s);
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    stroke: $gray-6;
    width: 34px;
    height: 34px;
    @include transition(0.3s);
  }
  &:hover {
    svg {
      stroke: $primary;
    }
  }
}
.btn-home {
  display: flex;
  width: 81px;
  height: 44px;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  background-color: transparent;
  border: none;
  @include transition(0.3s);
  span {
    color: $gray-10;
    text-align: center;
    font-family: $font-stack-satoshi;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @include transition(0.3s);
  }
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $gray-10;
    width: 24px;
    height: 24px;
    @include transition(0.3s);
  }
  &:hover,
  &.active {
    span {
      color: $blue-3;
    }
    svg {
      fill: $blue-3;
    }
  }
}
.btn-comparison {
  display: flex;
  width: 81px;
  height: 44px;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  background-color: transparent;
  border: none;
  @include transition(0.3s);
  span {
    color: $gray-10;
    text-align: center;
    font-family: $font-stack-satoshi;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @include transition(0.3s);
  }
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $gray-10;
    width: 24px;
    height: 24px;
    @include transition(0.3s);
  }
  &:hover,
  &.active {
    span {
      color: $blue-3;
    }
    svg {
      fill: $blue-3;
    }
  }
}
.btn-message {
  display: flex;
  width: 81px;
  height: 44px;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  background-color: transparent;
  border: none;
  @include transition(0.3s);
  span {
    color: $gray-10;
    text-align: center;
    font-family: $font-stack-satoshi;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @include transition(0.3s);
  }
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $gray-10;
    width: 24px;
    height: 24px;
    @include transition(0.3s);
  }
  &:hover,
  &.active {
    span {
      color: $blue-3;
    }
    svg {
      fill: $blue-3;
    }
  }
}
.btn-profile {
  display: flex;
  width: 81px;
  height: 44px;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  background-color: transparent;
  border: none;
  @include transition(0.3s);
  span {
    color: $gray-10;
    text-align: center;
    font-family: $font-stack-satoshi;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @include transition(0.3s);
  }
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $gray-10;
    width: 24px;
    height: 24px;
    @include transition(0.3s);
  }
  &:hover,
  &.active {
    span {
      color: $blue-3;
    }
    svg {
      fill: $blue-3;
    }
  }
}
.btn {
  color: $white;
  text-align: center;
  font-family: $font-stack-satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  width: 100%;
  height: 62px;
  padding: 20px 20px;
  background-color: $white;
  border: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  @include border-radius(20px);
  @include transition(0.3s);
  box-shadow: none;
  outline: none;
}
.btn-primary {
  color: $white;
  text-align: center;
  font-family: $font-stack-satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  height: 62px;
  padding: 20px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border: none;
  background-color: $blue-1;
  @include border-radius(20px);
  @include transition(0.3s);
  &:hover,
  &:active {
    background-color: $blue-2;
  }
  &:disabled {
    background-color: $gray-1;
  }
}
.btn-secondary {
  color: $black;
  text-align: center;
  font-family: $font-stack-satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  height: 62px;
  padding: 20px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border: 1px solid $gray-4;
  background-color: $white;
  @include border-radius(20px);
  @include transition(0.3s);
  &:hover,
  &:active {
    border: 1px solid $gray-4;
    background: $white-2;
  }
  &:disabled {
    background-color: $gray-1;
  }
}
.btn-google {
  color: $black;
  text-align: center;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  width: 100%;
  height: 62px;
  padding: 20px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid $gray-4;
  background-color: $white;
  @include border-radius(20px);
  @include transition(0.3s);
  &::before {
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../images/google-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
  }
  &:hover {
    border: 1px solid $white;
    background-color: $white;
  }
}
.btn-facebook {
  color: $black;
  text-align: center;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  width: 100%;
  height: 62px;
  padding: 20px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid $gray-4;
  background-color: $white;
  @include border-radius(20px);
  @include transition(0.3s);
  &::before {
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../images/facebook-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
  }
  &:hover {
    border: 1px solid $white;
    background-color: $white;
  }
}
.btn-email {
  color: $black;
  text-align: center;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  width: 100%;
  height: 62px;
  padding: 20px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid $gray-4;
  background-color: $white;
  @include border-radius(20px);
  @include transition(0.3s);
  &::before {
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../images/icon-email.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
  }
  &:hover {
    border: 1px solid $white;
    background-color: $white;
  }
}
.btn-pay-by-card {
  color: $black;
  text-align: center;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  width: 100%;
  height: 62px;
  padding: 20px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid $gray-4;
  background-color: $white;
  white-space: nowrap;
  @include border-radius(20px);
  @include transition(0.3s);
  &::before {
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../images/icon-card.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
  }
  &:hover {
    border: 1px solid $white;
    background-color: $white;
  }
}
.btn-pay-apple-card {
  color: $black;
  text-align: center;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  width: 100%;
  height: 62px;
  padding: 20px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid $gray-4;
  background-color: $white;
  white-space: nowrap;
  @include border-radius(20px);
  @include transition(0.3s);
  &::after {
    content: '';
    width: 60px;
    height: 28px;
    background-image: url(../images/icon-apple-pay.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
  }
  &:hover {
    border: 1px solid $white;
    background-color: $white;
  }
}
.btn-pay-google-card {
  color: $black;
  text-align: center;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  width: 100%;
  height: 62px;
  padding: 20px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid $gray-4;
  background-color: $white;
  white-space: nowrap;
  @include border-radius(20px);
  @include transition(0.3s);
  &::after {
    content: '';
    width: 60px;
    height: 28px;
    background-image: url(../images/icon-google-pay.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
  }
  &:hover {
    border: 1px solid $white;
    background-color: $white;
  }
}
