.btn-skip {
  color: $primary;
  text-align: center;
  font-family: $font-stack-satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0;
  background-color: transparent;
  border: 0;
  width: 100%;
  &:hover {
    color: $black;
  }
}
.btn {
  color: $white;
  text-align: center;
  font-family: $font-stack-satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  width: 100%;
  height: 62px;
  padding: 20px 149px;
  background-color: $white;
  border: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  @include border-radius(20px);
  @include transition(0.3s);
  box-shadow: none;
  outline: none;
}
.btn-primary {
  background-color: $blue-1;
  &:hover {
    background: $blue-2;
  }
  &:disabled {
    background: $gray-1;
  }
}
