.change-name {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 27px;
    padding: 40px 20px 32px 20px;
    z-index: 2;
    .section-inner {
        gap: 22px;
        height: 100%;
        flex-grow: 1;
      }
      .wrap-button {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        align-self: stretch;
        &.wrap-button-type-2 {
          gap: 32px;
          margin-top: auto;
        }
      }
      .text-help {
        width: 100%;
        color: $gray-6;
        text-align: center;
        font-family: Satoshi;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        .link {
          color: $blue-1;
          font-weight: 700;
          text-decoration: none;
        }
      }
      .form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        align-self: stretch;
        height: 100%;
        flex-grow: 1;
        .section-form {
          width: 100%;
        }
      }
      .wrap-upload-photo {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 20px;
        .photo {
          width: 110px;
          height: 110px;
          flex-shrink: 0;
          aspect-ratio: 1/1;
          border-radius: 67px;
          background: $gray-12;
          border-radius: 50%;
          img {
            width: 100%;
            border-radius: 50%;
          }
        }
        .wrap-upload {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex: 1 0 0;
          .text {
            color: $black;
            font-family: $font-stack-satoshi;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 125%; /* 20px */
          }
          .form-upload-file {
            background-image: url(../images/icon-upload.svg);
            background-position: center;
            background-repeat: no-repeat;
            width: 24px;
            height: 24px;
            .input {
              display: none;
            }
          }
        }
      }
      .form-group .form-control {
        width: 100%;
        font-weight: 400;
line-height: 125%;
background: $white;
    }
    }
   