.wrap-comparison-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.comparison-card {
  background: $white;
  border-radius: 16px;
  padding: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  border-radius: 30px;
  border: 2px solid $gray-4;
  flex: 1 0 auto;
  transition: all 0.3s ease;
  &:hover {
    border: 2px solid $blue-3;
  }
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    .card-title {
      font-size: 16px;
      font-weight: 700;
      color: $black;
      font-family: $font-stack-satoshi;
      display: flex;
      align-items: flex-start;
      gap: 8px;
    }
    .icon-arrow {
      width: 24px;
      height: 24px;
      fill: $black;
      z-index: 3;
    }
  }
  .card-container {
    width: 100%;
  }
  .scale-labels {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 12px;
    color: $black;
    font-family: $font-stack-satoshi;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
  }

  .slider-wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: 12px;
    position: relative;
    input[type='range'] {
      width: 100%;
      height: 8px;
      appearance: none;
      border-radius: 5px;
      background: linear-gradient(
        90deg,
        #6f60f4 5.97%,
        #7769f5 12.2%,
        #8072f6 17.11%,
        #877bf6 21.5%,
        #8c7ff7 26.72%,
        #8c80f7 31.93%,
        #9084f7 39.08%,
        #9287f7 44.5%,
        #aaa1f9 53.45%,
        #aaa1f9 58.13%,
        #c8c2fc 66.65%,
        #e0ddfe 79.85%,
        #e6e3ff 90.99%
      );

      &::-webkit-slider-thumb {
        appearance: none;
        width: 16px;
        height: 16px;
        background: $gray-2;
        border: 3px solid $blue-7;
        border-radius: 50%;
        margin-top: 0px;
        cursor: pointer;
      }
      &::-moz-range-thumb {
        width: 16px;
        height: 16px;
        background: $gray-2;
        border: 3px solid $blue-7;
        border-radius: 50%;
      }
      &:disabled {
        pointer-events: none;
      }
    }

    .slider-track {
      position: relative;
      padding-top: 24px;
      color: $black;
      font-family: $font-stack-satoshi;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
      letter-spacing: 0.1px;
      .country-label {
        position: absolute;
        top: 0;
        width: auto;
        height: 40px;
        text-align: center;
        font-size: 14px;
        white-space: nowrap;
        transition: all 0.3s ease;
      }

      .slider {
        width: 100%;
      }
    }
  }
}
