.compare-countries {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 20px 20px;
  height: calc(100dvh - 64px);
  overflow-y: auto;
  gap: 20px;
  position: relative;
  z-index: 2;
  .top-header {
    display: flex;
    gap: 20px;
    align-items: center;
    h1 {
      font-family: $font-stack-neue-regrade;
      font-size: 24px;
      font-weight: 700;
      color: $black;
      text-align: center;
      margin: 0;
    }
  }
  .selected-country {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    width: auto;
    max-width: 100%;
    flex: 0 0 auto;
    transition: all 0.3s ease;
    .checkCountry {
      color: $white;
      font-family: $font-stack-satoshi;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 125%; /* 20px */
      display: flex;
      padding: 4px 8px;
      justify-content: center;
      align-items: center;
      gap: 5px;
      border-radius: 4px;
      background-color: $blue-5;
      background-repeat: no-repeat;
      background-position: center right;
      cursor: pointer;
      transition: all 0.3s ease;
      &::after {
        content: '';
        width: 12px;
        height: 12px;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTUuOTk5OTggNC44ODg5M0w5Ljg4ODkgMUwxMSAyLjExMTExTDcuMTExMDggNi4wMDAwM0wxMSA5Ljg4ODlMOS44ODg5IDExTDUuOTk5OTggNy4xMTExNEwyLjExMTExIDExTDEgOS44ODg5TDQuODg4ODkgNi4wMDAwM0wxIDIuMTExMTFMMi4xMTExMSAxTDUuOTk5OTggNC44ODg5M1oiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=');
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  .section-inner {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

    .wrap-header {
      display: flex;
      flex-direction: column;
      gap: 12px;

      h1 {
        font-family: $font-stack-neue-regrade;
        font-size: 24px;
        font-weight: 700;
        color: $black;
        text-align: center;
        align-self: stretch;
        margin: 0;
      }

      .input-search-wrapper {
        width: 100%;
        position: relative;

        input {
          display: flex;
          height: 56px;
          width: 100%;
          padding: 16px;
          align-items: center;
          border-radius: 10px;
          gap: 10px;
          border: 1px solid $gray-9;
          background: $white;
          font-family: $font-stack-satoshi;

          &::placeholder {
            color: rgba(0, 0, 0, 0.5);
            opacity: 1;
          }
        }

        .btn-search {
          position: absolute;
          top: 50%;
          right: 14px;
          transform: translateY(-50%);
          background: none;
          border: none;
          cursor: pointer;

          .icon-search {
            width: 24px;
            height: 24px;
            fill: $gray-15;
          }
        }
      }

      .choose-label {
        color: $gray-6;
        text-align: center;
        font-family: $font-stack-satoshi;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }

    .comparison-content {
      display: flex;
      flex-direction: column;
      gap: 32px;
      overflow: auto;
      padding-bottom: 100px;
      .countries-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;

        .country-card {
          position: relative;
          width: 100%;
          height: 128px;
          border-radius: 12px;
          border: 2px solid #cecece;
          overflow: hidden;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          padding: 12px;
          &:hover,
          &.active {
            border-color: $blue-5;
          }

          img {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
          }

          .country-label {
            position: absolute;
            display: inline-flex;
            padding: 4px 12px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 6px;
            border-radius: 16px;
            z-index: 2;
            color: $blue-1;
            font-size: 12px;
            font-family: sans-serif;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: 0.2px;
            border: 1px solid $blue-1;
            background: $gray-2;
          }

          &::after {
            content: '';
            position: absolute;
            inset: 0;
            background-color: transparent;
            border-radius: 12px;
            transition: background-color 0.2s ease, border 0.2s ease;
            z-index: 1;
          }
          &.active::after {
            background-color: rgba(27, 0, 255, 0.2);
          }
        }
      }
    }
  }
  .wrap-continue {
    max-width: 768px;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    padding: 0px 20px;
    bottom: calc(32px + 92px);
    left: 0;
    right: 0;
    z-index: 2;
  }
  .btn-primary {
    width: 100%;
  }
}
