.comparing-subscribed {
  width: 100%;
  height: calc(100dvh - 92px);
  display: flex;
  flex-direction: column;
  padding: 60px 0px 20px 20px;
  gap: 60px;
  z-index: 2;
  position: relative;
  overflow: auto;
  .section-top {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .wrap-section-header {
      display: flex;
      padding-right: 20px;
      justify-content: space-between;
      align-items: center;
      .title {
        color: $black;
        font-family: $font-stack-neue-regrade;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 0px;
      }
      .link-see-more {
        color: $blue-1;
        text-align: center;
        font-family: $font-stack-popins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.3px;
      }
    }
    .podcast-list {
      display: flex;
      gap: 12px;
      overflow-x: auto;
      .podcast-card {
        width: 100%;
        flex: 1;
        height: 150px;
        border-radius: 20px;
        display: flex;
        align-items: flex-end;
        text-align: center;
        padding: 16px 22px 16px 18px;
        &.blue {
          background-color: $blue-10;
          background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA1IiBoZWlnaHQ9IjkzIiB2aWV3Qm94PSIwIDAgMTA1IDkzIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTg4LjIzMDUgLTg3LjQ2NjJDMTA3LjQyNSAtODguOTA0IDEzMS4xMiAtOTguNDQ2NSAxNDQuNDg3IC04NC41NjcxQzE1OC4zMjcgLTcwLjE5NzcgMTQ1LjQ4NCAtNDYuMDc5IDE0Ny4yNDggLTI2LjE4NjdDMTQ4LjQ4MSAtMTIuMjg5MiAxNTQuNjY5IDAuMzIxNzg1IDE1My4yNDcgMTQuMjAxMUMxNTEuNTAyIDMxLjIyNzggMTQ5LjIxOSA0OC44ODU1IDEzOC4yMTMgNjEuOTczOUMxMjUuNDM2IDc3LjE2ODUgMTA3LjkzNiA4OS4zMTM0IDg4LjIzMDUgOTEuNTE2NUM2Ny40MTIzIDkzLjg0MzkgNDQuODQyMSA4OC4zNTM3IDI5LjQzMDggNzQuMTM1N0MxNC42NDAzIDYwLjQ5MDQgMTQuMjgxIDM4LjI0ODcgOS4zMjc3MyAxOC43MjI5QzQuNzU3NDEgMC43MDY1NTggLTMuNjA1NzYgLTE3LjMzMjQgMS43MDk2MSAtMzUuMTQyM0M3LjA4MDk2IC01My4xMzk3IDIxLjcxOTkgLTY2Ljg2NzYgMzcuNzY4OSAtNzYuNTczM0M1Mi44NzAzIC04NS43MDU5IDcwLjY0MTYgLTg2LjE0ODcgODguMjMwNSAtODcuNDY2MloiIGZpbGw9IiMxODJBODgiLz4KPC9zdmc+Cg==');
          background-repeat: no-repeat;
          background-position: 100% 0px;
        }

        &.purple {
          background-color: $violet-1;
          background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDUiIGhlaWdodD0iOTMiIHZpZXdCb3g9IjAgMCAxMDUgOTMiIGZpbGw9Im5vbmUiPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTg4LjIzMDUgLTg3LjQ2NjJDMTA3LjQyNSAtODguOTA0IDEzMS4xMiAtOTguNDQ2NSAxNDQuNDg3IC04NC41NjcxQzE1OC4zMjcgLTcwLjE5NzcgMTQ1LjQ4NCAtNDYuMDc5IDE0Ny4yNDggLTI2LjE4NjdDMTQ4LjQ4MSAtMTIuMjg5MiAxNTQuNjY5IDAuMzIxNzg1IDE1My4yNDcgMTQuMjAxMUMxNTEuNTAyIDMxLjIyNzggMTQ5LjIxOSA0OC44ODU1IDEzOC4yMTMgNjEuOTczOUMxMjUuNDM2IDc3LjE2ODUgMTA3LjkzNiA4OS4zMTM0IDg4LjIzMDUgOTEuNTE2NUM2Ny40MTIzIDkzLjg0MzkgNDQuODQyMSA4OC4zNTM3IDI5LjQzMDggNzQuMTM1N0MxNC42NDAzIDYwLjQ5MDQgMTQuMjgxIDM4LjI0ODcgOS4zMjc3MyAxOC43MjI5QzQuNzU3NDEgMC43MDY1NTggLTMuNjA1NzYgLTE3LjMzMjQgMS43MDk2MSAtMzUuMTQyM0M3LjA4MDk2IC01My4xMzk3IDIxLjcxOTkgLTY2Ljg2NzYgMzcuNzY4OSAtNzYuNTczM0M1Mi44NzAzIC04NS43MDU5IDcwLjY0MTYgLTg2LjE0ODcgODguMjMwNSAtODcuNDY2MloiIGZpbGw9IiNCQzk5RkYiLz4KPC9zdmc+');
          background-repeat: no-repeat;
          background-position: 100% 0px;
        }
        .podcast-text {
          color: $white;
          white-space: nowrap;
          text-align: center;
          font-family: $font-stack-popins;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: -0.3px;
        }
        .podcast-text-black {
          color: $black;
          white-space: nowrap;
          text-align: center;
          font-family: $font-stack-popins;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: -0.3px;
        }
      }
    }
  }

  .learn-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    padding-right: 20px;

    .title {
      color: $black;
      font-family: $font-stack-neue-regrade;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 0px;
    }
    .learn-card {
      display: flex;
      height: 90px;
      padding: 18px 16px 18px 24px;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 31px;
      align-self: stretch;
      border-radius: 30px;
      border: 1px solid $gray-4;
      background: $white;
    }

    .learn-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .learn-percentage {
      display: flex;
      align-items: baseline;
      gap: 7px;

      .percent {
        color: $black;
        font-family: $font-stack-satoshi;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      .label {
        color: $black;
        font-family: $font-stack-satoshi;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 15.83px; /* 131.915% */
      }
    }

    .flag-wrap {
      display: flex;
      align-items: center;
      gap: 8px;

      .vs-text {
        color: $black;
        text-align: center;
        font-family: $font-stack-satoshi;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      .flag-circle {
        display: flex;
        width: 54px;
        height: 54px;
        padding: 11px;
        justify-content: center;
        align-items: center;
        border-radius: 36px;
        border: 1px solid $gray-15;
        background: $gray-16;
        .flag-img {
          width: 32px;
          height: 32px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }

    .btn-primary {
      width: 100%;
    }
  }
  .achievements-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 20px;
    gap: 16px;
    .title {
      color: $black;
      font-family: $font-stack-neue-regrade;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 0px;
      width: 100%;
    }
    .wrap-achievements-card {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 32px 24px 24px 24px;
      justify-content: center;
      align-items: center;
      gap: 24px;
      border-radius: 30px;
      border: 1px solid $gray-4;
      background: $white;
    }
    .achievements-card {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 16px;
    }

    .achievement-row {
      display: flex;
      width: 100%;
      align-items: flex-start;
      gap: 24px;
      border-bottom: 2px solid $gray-17;
      padding-bottom: 16px;
      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }

    .achievement-icon {
      width: 42px;
      height: 42px;
      background: $blue-1;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;

      img {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
      }
    }

    .achievement-content {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .achievement-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;

      .title {
        font-family: $font-stack-neue-regrade;
        font-size: 16px;
        font-weight: 700;
        color: $black;
      }

      .achievement-progress-count {
        color: $gray-18;
        font-family: $font-stack-satoshi;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }

    .progress {
      height: 8px;
      background-color: $gray-2;
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 16px;
    }
  
    .progress-bar {
      background-color: $blue-1;
      border-radius: 5px;
    }
    .w-100 { width: 100%; }
    .w-37 { width: 37%; }
    .w-22 { width: 22%; }
    .achievement-subtext {
      color: $gray-18;
      font-family: $font-stack-satoshi;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .btn-primary {
      width: 192px;
      align-self: center;
    }
  }
}
