.comparing-result {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    z-index: 2;
  }
  
  .wrap-progress-bar {
    display: inline-flex;
    padding: 44px 16px 20px 16px;
    align-items: center;
    gap: 16px;
    width: 100%;
    border-bottom: 1px solid $gray-3;
  
    .btn-arrow-left {
      background: none;
      border: none;
      padding: 0;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  
    .progress-steps {
      display: flex;
      gap: 8px;
      flex: 1;
  
      .step {
        height: 8px;
        border-radius: 20px;
        background-color: #e4dfff;
        flex: 1;
        transition: background-color 0.3s ease;
  
        &.active {
          background-color: #7e61ff;
        }
      }
    }
  }
  
  .wrap-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 34px 20px 20px 20px;
    flex-grow: 1;
    .media-box {
        height: 240px;
        align-self: stretch;
        border-radius: 16px;
border: 1px solid $black;
background: $white;
      }
  
    .wrap-text {
      display: flex;
      flex-direction: column;
      gap: 12px;
  
      .title {
        align-self: stretch;
        color: $black;
font-family: $font-stack-neue-regrade;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 0px;
      }
  
      .description {
        color: $black;
        font-family: $font-stack-satoshi;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 125% */
      }
    }
  
    .btn-primary {
      background-color: #6F60F4;
      color: $white;
      padding: 14px;
      border: none;
      border-radius: 20px;
      font-weight: 500;
      font-style: normal;
      line-height: normal;
      font-family: $font-stack-satoshi;
      text-align: center;
      font-size: 16px;
      cursor: pointer;
      transition: background 0.3s;
      margin-top: auto;
  
      &:hover {
        background-color: #624ee4;
      }
    }
  }
  
  .app-tab-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
    background: #fff;
    border-top: 1px solid #eee;
  
    .btn-footer {
      background: none;
      border: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #999;
  
      &.active {
        color: #7e61ff;
      }
  
      svg {
        width: 24px;
        height: 24px;
      }
  
      span {
        font-size: 12px;
      }
    }
  }