.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
  .form-label {
    color: $black;
    font-family: $font-stack-satoshi;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 17.5px */
    margin: 0;
  }
  .form-control {
    width: 100%;
  }
  .bottom-text-input {
    display: flex;
    width: 100%;
    color: $black;
    font-family: $font-stack-satoshi;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 17.5px */
    a {
      color: $black;
      text-decoration: none;
    }
    .error {
      color: $red;
    }
  }
}
.form-control {
  color: $black;
  font-family: $font-stack-satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 20px */
  width: 100%;
  height: 56px;
  padding: 16px;
  border: 1px solid $gray-9;
  background: $white;
  @include border-radius(10px);
  @include transition(0.3s);
  &::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-family: $font-stack-satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 20px */
  }
  &:disabled,
  &.disabled {
    background: $gray-11;
    color: rgba(0, 0, 0, 0.5);
  }
  &:focus {
    box-shadow: none;
    outline: none;
    color: $black;
    background: $white;
  }
  &:hover {
    border: 2px solid $black;
    background: $white;
  }
  &.is-invalid,
  &.error {
    border: 2px solid $red;
    background: $white;
  }
  &.is-invalid:focus {
    box-shadow: none;
    border: 2px solid $red;
  }
  &:is(:-webkit-autofill, :autofill),
  &:-internal-autofill-selected {
    background-color: $white;
  }
}
.input-group.input-group-password {
  position: relative;
  .form-control {
    border-radius: 10px !important;
    padding-right: 50px;
  }
  .password-show-view {
    position: absolute;
    top: 18px;
    right: 16px;
    height: 24px;
    width: 24px;
    padding: 0;
    background-image: url(../images/icon-eye-closed.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    margin: 0;
    border: none;
    cursor: pointer;
    z-index: 5;
    @include transition(0.3s);
    &.show {
      background-image: url(../images/icon-eye-open.svg);
    }
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px;
  border: 1px solid #d8dadc;
  -webkit-text-fill-color: $black;
  -webkit-box-shadow: 0 0 0px 1000px $white inset !important;
  transition: background-color 5000s ease-in-out 0s;
}
