.modal-backdrop {
  background: rgba(0, 0, 0, 0.35);
}
.modal-header {
  position: relative;
  width: 100%;
  .modal-title {
    width: 100%;
  }
  .btn-close {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTUuOTk5OTggNC44ODg5M0w5Ljg4ODkgMUwxMSAyLjExMTExTDcuMTExMDggNi4wMDAwM0wxMSA5Ljg4ODlMOS44ODg5IDExTDUuOTk5OTggNy4xMTExNEwyLjExMTExIDExTDEgOS44ODg5TDQuODg4ODkgNi4wMDAwM0wxIDIuMTExMTFMMi4xMTExMSAxTDUuOTk5OTggNC44ODg5M1oiIGZpbGw9ImJsYWNrIi8+Cjwvc3ZnPgo=');
    padding: 0;
    opacity: 1;
    position: absolute;
    right: 6px;
    top: 6px;
  }
}
.alertModal {
  .modal-dialog {
    max-width: 353px;
    margin: 0 auto;
  }
  .modal-content {
    display: flex;
    padding: 32px 24px 24px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 30px;
    border: 1px solid $gray-4;
    background: $white;
  }
  .modal-header {
    padding: 0;
    border: 0;
  }
  .modal-title {
    color: $black;
    text-align: center;
    font-family: $font-stack-neue-regrade;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .modal-body {
    padding: 0;
    border: 0;
    width: 100%;
  }
  .modal-footer {
    padding: 0;
    border: 0;
    width: 100%;
  }
  .modal-text {
    color: #727272;
    text-align: center;
    font-family: $font-stack-satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }

  .modal-actions {
    display: flex;
    width: calc(100% - 39px);
    margin: 0 auto;
    gap: 24px;
    justify-content: center;
    flex-wrap: nowrap;
  }
}
.aiModal {
  .modal-dialog {
    max-width: 353px;
    margin: 0 auto;
  }
  .modal-content {
    display: flex;
    padding: 24px 24px 24px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 30px;
    border: 1px solid $gray-4;
    background: $white;
  }
  .modal-header {
    padding: 0;
    border: 0;
  }
  .modal-title {
    color: $black;
    text-align: center;
    font-family: $font-stack-neue-regrade;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    &::before {
      content: '';
      width: 24px;
      height: 24px;
      background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjQ4MTU4IDExLjQ3OTZMOS4wMjc1MiA2Ljg0MThIOS45NzYyMUwxMS41MjIxIDExLjQ3OTZMMTYuMTYgMTMuMDI1NlYxMy45NzQzTDExLjUyMjEgMTUuNTIwMkw5Ljk3NjIxIDIwLjE1OEg5LjAyNzUyTDcuNDgxNTggMTUuNTIwMkwyLjg0Mzc1IDEzLjk3NDNWMTMuMDI1Nkw3LjQ4MTU4IDExLjQ3OTZaIiBzdHJva2U9IiM2RjYwRjQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVqb2luPSJiZXZlbCIvPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTE2LjIzMTYgNS4yMjk2M0wxNy4wMjc1IDIuODQxOEgxNy45NzYyTDE4Ljc3MjIgNS4yMjk2M0wyMS4xNiA2LjAyNTU3VjYuOTc0MjVMMTguNzcyMSA3Ljc3MDJMMTcuOTc2MiAxMC4xNThIMTcuMDI3NUwxNi4yMzE2IDcuNzcwMkwxMy44NDM4IDYuOTc0MjVWNi4wMjU1N0wxNi4yMzE2IDUuMjI5NjNaIiBzdHJva2U9IiM2RjYwRjQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVqb2luPSJiZXZlbCIvPgo8L3N2Zz4K');
      background-position: center;
      background-repeat: no-repeat;
      display: block;
    }
  }
  .modal-body {
    padding: 0;
    border: 0;
    width: 100%;
  }
  .modal-footer {
    padding: 0;
    border: 0;
    width: 100%;
  }
  .modal-text {
    color: $black-3;
    text-align: center;
    font-family: $font-stack-satoshi;
    font-size: var(--Label-Large-Size, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
    margin-bottom: 0;
  }
}
