.podcast {
  width: 100%;
  height: calc(100dvh - 92px);
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 0px 20px 20px;
  position: relative;
  z-index: 2;
  overflow-y: auto;

  .section-inner {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
  }

  .wrap-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;

    h1 {
      color: $black;
      font-family: $font-stack-neue-regrade;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin: 0;
    }
  }

  .tip-badge {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    overflow: auto;
    width: 100%;
    padding-right: 16px;
    &::-webkit-scrollbar {
      width: 4px;
      display: none;
    }
    &::-webkit-scrollbar-button {
      width: 2px;
      height: 0px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    .tips-badge {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-family: $font-stack-satoshi;
      border-radius: 35px;
      line-height: 1;
      white-space: nowrap;
      height: 36px;
      padding: 6px 10px;

      &.purple {
        background-color: $blue-1;
        color: $white;
        padding: 6px 20px;
      }
      &.white {
        background-color: $white;
        border: 1px solid rgba(0, 0, 0, 0.2);
        color: $black;
        padding: 6px 10px;
      }
    }
  }
}
.podcast-wrap {
  padding-right: 20px;
}
.podcast-card {
  width: 100%;
  flex: 1;
  height: 138px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  text-align: center;
  letter-spacing: -0.3px;
  padding: 10px;
  background-repeat: no-repeat;
  background-position: 100% 0px;
  &.blue {
    background-color: $blue-10;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA1IiBoZWlnaHQ9IjkzIiB2aWV3Qm94PSIwIDAgMTA1IDkzIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTg4LjIzMDUgLTg3LjQ2NjJDMTA3LjQyNSAtODguOTA0IDEzMS4xMiAtOTguNDQ2NSAxNDQuNDg3IC04NC41NjcxQzE1OC4zMjcgLTcwLjE5NzcgMTQ1LjQ4NCAtNDYuMDc5IDE0Ny4yNDggLTI2LjE4NjdDMTQ4LjQ4MSAtMTIuMjg5MiAxNTQuNjY5IDAuMzIxNzg1IDE1My4yNDcgMTQuMjAxMUMxNTEuNTAyIDMxLjIyNzggMTQ5LjIxOSA0OC44ODU1IDEzOC4yMTMgNjEuOTczOUMxMjUuNDM2IDc3LjE2ODUgMTA3LjkzNiA4OS4zMTM0IDg4LjIzMDUgOTEuNTE2NUM2Ny40MTIzIDkzLjg0MzkgNDQuODQyMSA4OC4zNTM3IDI5LjQzMDggNzQuMTM1N0MxNC42NDAzIDYwLjQ5MDQgMTQuMjgxIDM4LjI0ODcgOS4zMjc3MyAxOC43MjI5QzQuNzU3NDEgMC43MDY1NTggLTMuNjA1NzYgLTE3LjMzMjQgMS43MDk2MSAtMzUuMTQyM0M3LjA4MDk2IC01My4xMzk3IDIxLjcxOTkgLTY2Ljg2NzYgMzcuNzY4OSAtNzYuNTczM0M1Mi44NzAzIC04NS43MDU5IDcwLjY0MTYgLTg2LjE0ODcgODguMjMwNSAtODcuNDY2MloiIGZpbGw9IiMxODJBODgiLz4KPC9zdmc+Cg==');
  }
  &.purple {
    background-color: $violet-1;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDUiIGhlaWdodD0iOTMiIHZpZXdCb3g9IjAgMCAxMDUgOTMiIGZpbGw9Im5vbmUiPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTg4LjIzMDUgLTg3LjQ2NjJDMTA3LjQyNSAtODguOTA0IDEzMS4xMiAtOTguNDQ2NSAxNDQuNDg3IC04NC41NjcxQzE1OC4zMjcgLTcwLjE5NzcgMTQ1LjQ4NCAtNDYuMDc5IDE0Ny4yNDggLTI2LjE4NjdDMTQ4LjQ4MSAtMTIuMjg5MiAxNTQuNjY5IDAuMzIxNzg1IDE1My4yNDcgMTQuMjAxMUMxNTEuNTAyIDMxLjIyNzggMTQ5LjIxOSA0OC44ODU1IDEzOC4yMTMgNjEuOTczOUMxMjUuNDM2IDc3LjE2ODUgMTA3LjkzNiA4OS4zMTM0IDg4LjIzMDUgOTEuNTE2NUM2Ny40MTIzIDkzLjg0MzkgNDQuODQyMSA4OC4zNTM3IDI5LjQzMDggNzQuMTM1N0MxNC42NDAzIDYwLjQ5MDQgMTQuMjgxIDM4LjI0ODcgOS4zMjc3MyAxOC43MjI5QzQuNzU3NDEgMC43MDY1NTggLTMuNjA1NzYgLTE3LjMzMjQgMS43MDk2MSAtMzUuMTQyM0M3LjA4MDk2IC01My4xMzk3IDIxLjcxOTkgLTY2Ljg2NzYgMzcuNzY4OSAtNzYuNTczM0M1Mi44NzAzIC04NS43MDU5IDcwLjY0MTYgLTg2LjE0ODcgODguMjMwNSAtODcuNDY2MloiIGZpbGw9IiNCQzk5RkYiLz4KPC9zdmc+');
  }
  &.green {
    background-color: $green-1;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI5IiBoZWlnaHQ9Ijg0IiB2aWV3Qm94PSIwIDAgMTI5IDg0IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTEzOC4zMDkgMzcuNDQ5OEMxMzIuNjI4IDUzLjU5MTkgMTMxLjQ3MSA3Ni4wNDYgMTE2LjI5NyA4Mi40NDU5QzEwMC41ODcgODkuMDcxOCA4Ni45Mjk5IDcwLjczNzYgNzEuMzExNSA2NS43MDYyQzYwLjM5OTkgNjIuMTkxIDQ4LjcxMTcgNjMuMTQxMiAzOC43NDk1IDU3LjQ2NEMyNi41MjgxIDUwLjQ5OTMgMTQuMDIwNCA0Mi44OTA2IDguMDMxOTIgMjkuNjQ0NkMxLjA3OTc3IDE0LjI2NjkgLTEuOTA5MSAtMy45NzQ0OSAzLjM3NDYgLTIwLjc4M0M4Ljk1NjU5IC0zOC41NDAzIDIxLjA0OTggLTU1LjE4NDkgMzcuMTk5OCAtNjMuMTQzOEM1Mi42OTkzIC03MC43ODIxIDY5LjU5MzggLTYzLjgzOTIgODYuMDU5OCAtNjEuNTMxMkMxMDEuMjUzIC01OS40MDE2IDExNy44IC02MC4zNjE5IDEyOS4zNTMgLTUwLjIyNjlDMTQxLjAyOCAtMzkuOTg1MSAxNDYuMjE5IC0yMy41NjQ1IDE0Ny44OCAtNy4zMDEwOEMxNDkuNDQzIDguMDAxOTkgMTQzLjUxNCAyMi42NTgxIDEzOC4zMDkgMzcuNDQ5OFoiIGZpbGw9IiMxNUE4NjciLz4KPC9zdmc+Cg==');
  }
  &.violet {
    background-color: $violet-2;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTQiIGhlaWdodD0iMTAxIiB2aWV3Qm94PSIwIDAgOTQgMTAxIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTg4LjIzMDUgLTc5LjQ2NjJDMTA3LjQyNSAtODAuOTA0IDEzMS4xMiAtOTAuNDQ2NSAxNDQuNDg3IC03Ni41NjcxQzE1OC4zMjcgLTYyLjE5NzcgMTQ1LjQ4NCAtMzguMDc5IDE0Ny4yNDggLTE4LjE4NjdDMTQ4LjQ4MSAtNC4yODkxNiAxNTQuNjY5IDguMzIxNzggMTUzLjI0NyAyMi4yMDExQzE1MS41MDIgMzkuMjI3OCAxNDkuMjE5IDU2Ljg4NTUgMTM4LjIxMyA2OS45NzM5QzEyNS40MzYgODUuMTY4NSAxMDcuOTM2IDk3LjMxMzQgODguMjMwNSA5OS41MTY1QzY3LjQxMjMgMTAxLjg0NCA0NC44NDIxIDk2LjM1MzcgMjkuNDMwOCA4Mi4xMzU3QzE0LjY0MDMgNjguNDkwNCAxNC4yODEgNDYuMjQ4NyA5LjMyNzczIDI2LjcyMjlDNC43NTc0MSA4LjcwNjU2IC0zLjYwNTc2IC05LjMzMjM5IDEuNzA5NjEgLTI3LjE0MjNDNy4wODA5NiAtNDUuMTM5NyAyMS43MTk5IC01OC44Njc2IDM3Ljc2ODkgLTY4LjU3MzNDNTIuODcwMyAtNzcuNzA1OSA3MC42NDE2IC03OC4xNDg3IDg4LjIzMDUgLTc5LjQ2NjJaIiBmaWxsPSIjQ0YyOEQxIi8+Cjwvc3ZnPgo=');
  }
  .podcast-text {
    color: $white;
    white-space: nowrap;
    text-align: center;
    font-family: $font-stack-popins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .podcast-text-black {
    color: $black;
    white-space: nowrap;
    text-align: center;
    font-family: $font-stack-popins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.3px;
  }
}
