.b2b-questionnaire {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  padding-bottom: 30px;
  z-index: 2;
  .wrap-progress-bar {
    display: inline-flex;
    padding: 44px 16px 20px 16px;
    align-items: center;
    gap: 16px;
    width: 100%;
    border-bottom: 1px solid $gray-3;
  }
  .wrap-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    flex-grow: 1;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }
  .wrap-img {
    padding: 0px 20px;
    width: 100%;
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
  }
  .wrap-image {
    width: auto;
    flex-shrink: 0;
    object-fit: cover;
    display: block;
    margin-top: auto;
    align-self: center;
}

  .text {
    h1 {
      color: $black;
      text-align: center;
      font-family: $font-stack-neue-regrade;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 0;
    }
    p {
      color: #454B60;
text-align: center;
font-family: Satoshi;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 20px;
margin-bottom: 0;
    }
  }
  .wrap-button {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    .row-button {
      display: flex;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;
      .btn-secondary {
        min-width: 120px;
        width: 40%;
      }
      .btn-primary {
        max-width: 100%;
        width: 72%;
      }
    }
  }
}
