.questionnaire_comparison {
  width: 100%;
  height: calc(100dvh - 64px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 20px 0px 20px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  .top-header {
    display: flex;
    align-items: center;
    gap: 20px;
    h1 {
      color: $black;
      font-family: $font-stack-neue-regrade;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin: 0;
    }
    .flag-wrap {
      display: flex;
      align-items: center;
      gap: 8px;
      .vs-text {
        color: $black;
        text-align: center;
        font-family: $font-stack-satoshi;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    .flag-circle {
      display: flex;
      width: 38px;
      height: 38px;
      padding: 11px;
      justify-content: center;
      align-items: center;
      border-radius: 36px;
      border: 1px solid $gray-9;
      background: $white;
      .flag-img {
        width: 16px;
        height: 16px;
        object-fit: cover;
        border-radius: 50%;
      }
      @media (max-width: 380px) {
        width: 30px;
        height: 30px;
        .flag-img {
          width: 12px;
          height: 12px;
        }
      }
    }
  }
  .section-inner {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    height: 100%;
    height: calc(100% - 48px - 0px);
  }
  .wrap-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    h1 {
      color: $black;
      font-family: $font-stack-neue-regrade;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin: 0;
    }
  }
  .wrap-comparison-card {
    overflow: auto;
    padding-bottom: 20px;
  }
  .learn-wrap {
    gap: 16px;
    padding-right: 0;
    padding-bottom: 0;
  }
}
