[v-cloak] {
  display: none !important;
}
* {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* Стандартный синтаксис */
}
html {
  min-height: 100dvh;
  background-color: $white;
}
body {
  font-family: $font-stack-neue-regrade;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  background-color: $white;
  color: $black;
  min-height: 100dvh;
}
::-webkit-resizer {
  background-image: url('');
  background-repeat: no-repeat;
  width: 6px;
  height: 1px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-button {
  background-image: url();
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  border-radius: 10px;
  background-color: $black;
  height: 80px;
}

::-webkit-scrollbar-track {
  background: $white;
}
.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.scrollbar-hidden {
  &::-webkit-scrollbar {
    width: 0;
  }
}
::placeholder {
  color: $black;
  font-family: $font-stack-satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
  letter-spacing: 0.03px;
}
a {
  color: $blue-1;
  font-weight: 400;
  text-decoration: none;
}
.top-20-px {
  top: 20px;
}
