.sign-up {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 41px;
  padding-top: 52px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 64px;
  min-height: 100dvh;
  position: relative;
  z-index: 2;
  .section-inner {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
  }
  .wrap-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    h1 {
      color: $black;
      text-align: center;
      font-family: $font-stack-neue-regrade;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 0;
    }
    .text {
      color: $black;
      text-align: center;
      font-family: $font-stack-satoshi;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  .wrap-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    &.wrap-button-type-2 {
      gap: 32px;
    }
  }
  .text-help {
    width: 100%;
    color: $gray-6;
    text-align: center;
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    .link {
      color: $blue-1;
      font-weight: 700;
      text-decoration: none;
    }
  }
}
.sign-up-registration {
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 40px;
  .wrap-header {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-self: stretch;
    .section-form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      align-self: stretch;
    }
  }
}
.sign-up-in-username {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  .section-inner {
    gap: 22px;
    height: 100%;
    flex-grow: 1;
    margin-top: 58px;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    height: 100%;
    flex-grow: 1;
    .section-form {
      width: 100%;
    }
  }
  .wrap-upload-photo {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    .photo {
      width: 110px;
      height: 110px;
      flex-shrink: 0;
      aspect-ratio: 1/1;
      border-radius: 67px;
      background: $gray-12;
      border-radius: 50%;
      img {
        width: 100%;
        border-radius: 50%;
      }
    }
    .wrap-upload {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1 0 0;
      .text {
        color: $black;
        font-family: $font-stack-satoshi;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%; /* 20px */
      }
      .form-upload-file {
        background-image: url(../images/icon-upload.svg);
        background-position: center;
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        .input {
          display: none;
        }
      }
    }
  }
  .wrap-button {
    margin-top: 74px;
  }
}
