.start-view {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: center;
  gap: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  .group-text {
    padding-left: 24px;
    padding-right: 20px;
    gap: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: auto;
    margin-bottom: auto;
    .text-one {
      display: flex;
      width: 297px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      h1 {
        color: $primary;
        font-family: $font-stack-neue-regrade;
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: 66px; /* 110% */
        margin-bottom: 0;
      }
      .text-botom {
        color: $primary;
        font-family: $font-stack-satoshi;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
    }
    .text-two {
      display: flex;
      width: 237px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      margin-left: auto;
      h2 {
        color: $primary;
        font-family: $font-stack-neue-regrade;
        font-size: 59px;
        font-style: normal;
        font-weight: 700;
        line-height: 66px; /* 111.864% */
        margin-bottom: 0;
      }
      .text-botom {
        color: $primary;
        font-family: $font-stack-satoshi;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
    }
  }
  .wrap-button {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 21px;
    margin-top: auto;
  }
}
.start-view-2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  z-index: 2;
  .wrap-progress-bar {
    display: inline-flex;
    padding: 44px 16px 20px 16px;
    align-items: center;
    gap: 16px;
    width: 100%;
    border-bottom: 1px solid $gray-3;
  }
  .wrap-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    flex-grow: 1;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    margin-top: 20px;
    .wrap-container-title-card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      align-self: stretch;
    }
    h1 {
      color: $black;
      text-align: center;
      font-family: $font-stack-neue-regrade;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 0;
      width: 100%;
    }
  }
  .wrap-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    .card {
      display: flex;
      padding: 24px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;
      @include border-radius(30px);
      border: 1px solid $gray-4;
      background: $white;
      .wrap-icon {
        display: flex;
        width: 43px;
        height: 43px;
        padding: 10px 9px 9px 10px;
        justify-content: center;
        align-items: center;
        @include border-radius(50%);
        background: $gray-5;
      }
      .title {
        color: $black;
        font-family: $font-stack-neue-regrade;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .text {
        color: $black;
        font-family: $font-stack-satoshi;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
  .wrap-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;
    align-self: stretch;
    width: 100%;
    margin-top: auto;
  }
}
