.subscription-apple-pay {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 20px;
    min-height: 100dvh;
    position: relative;
    z-index: 2;
}

.subscription-apple-pay .section-inner {
    width: 100%;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

.subscription-apple-pay .wrap-header {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    h1 {
      color: $black;
      align-self: stretch;
      font-family: $font-stack-neue-regrade;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 0;
    }
    .text {
      color: $gray-6;
      align-self: stretch;
      font-family: $font-stack-satoshi;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

.benefits-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.benefit-item {
    display: flex;
    align-items: center;
    gap: 12px;
    overflow: hidden;
color: #454B60;
text-overflow: ellipsis;
font-family: Satoshi;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.subscription-options {
    width: 100%;
    padding-top: 15px;
}
.subscription-options .col-6 {
  padding: 0px 8px;
}
.subscription-card {
    display: block;
    cursor: pointer;
    width: 100%;
}

.subscription-radio {
    display: none;
}

.subscription-apple-pay .card {
    border-radius: 16px;
    border: 1px solid #454B60;
    transition: all 0.2s ease;
    height: 146px;
    background-color: transparent !important;
}

.subscription-radio:checked + .card {
    border-color: var(--Button-default, #08ADD2);;
}
.card-body {
    padding: 14px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.plan-title {
    color: #454B60;
font-family: Satoshi;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
letter-spacing: -0.32px;
text-align:left;
}

.plan-price {
    color: #454B60;
font-family: Satoshi;
font-size: 26px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 123.077% */
}

.plan-description {
    margin-top: auto;
    color: $black;
font-family: Satoshi;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}

.subscription-radio:checked + .card .plan-title,
.subscription-radio:checked + .card .plan-price,
.subscription-radio:checked + .card .plan-description {
    color: var(--Button-default, #08ADD2);
}

.payment-buttons {
    width: 100%;
   padding-top: 15px;
   gap: 12px;
   display: flex;
   flex-direction: column;
}

.payment-buttons .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 62px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #CECECE;
    background: $white;
    color: var(--Text-black, #141414);
    text-align: center;
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
}

.subscription-apple-pay .top-header{
    display: flex;
width: 100%;
justify-content: space-between;
align-items: center;
position: relative;
}
.subscription-apple-pay .top-header .btn-skip {
    color: $black;
    font-family: $font-stack-satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0;
    background-color: transparent;
    border: 0;
    width: auto;
     position: absolute;
     right: 0;
    @include transition(0.3s);
    &:hover {
      color: $black;
    }
  }