.subscription-apple-pay {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 20px;
  min-height: 100dvh;
  position: relative;
  z-index: 2;
  .top-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .section-inner {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
    align-self: stretch;
  }
  .wrap-header-benefits {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
  .wrap-header {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    h1 {
      color: $black;
      align-self: stretch;
      font-family: $font-stack-neue-regrade;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 0;
    }
    .text {
      color: $gray-6;
      align-self: stretch;
      font-family: $font-stack-satoshi;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  .benefits-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    .benefit-item {
      display: flex;
      align-items: center;
      gap: 12px;
      overflow: hidden;
      color: $gray-6;
      text-overflow: ellipsis;
      font-family: $font-stack-satoshi;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  .subscription-options {
    width: 100%;
    .subscription-options-row {
      display: flex;
      gap: 16px;
      justify-content: space-between;
      align-items: center;
      .col {
        width: calc(50% - 16px);
      }
    }
    .subscription-card {
      display: block;
      cursor: pointer;
      width: 100%;
    }
    .subscription-radio {
      display: none;
    }
    .card {
      border-radius: 16px;
      border: 1px solid $gray-6;
      transition: all 0.3s ease;
      height: 146px;
      background-color: transparent !important;
      .card-body {
        padding: 14px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        .plan-title {
          color: $gray-6;
          font-family: $font-stack-satoshi;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px; /* 125% */
          letter-spacing: -0.32px;
          text-align: left;
        }
        .plan-price {
          color: $gray-6;
          font-family: $font-stack-satoshi;
          font-size: 26px;
          font-style: normal;
          font-weight: 500;
          line-height: 32px; /* 123.077% */
        }
        .plan-description {
          margin-top: auto;
          color: $gray-6;
          font-family: $font-stack-satoshi;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px; /* 142.857% */
        }
      }
    }
    .subscription-radio:checked + .card {
      border-color: $blue-4;
      .plan-title,
      .plan-price,
      .plan-description {
        color: $blue-4;
      }
    }
  }
  .payment-buttons {
    width: 100%;
    gap: 12px;
    display: flex;
    flex-direction: column;
  }
}
