//sass --watch scss/style.scss css/style.css
@import 'bootstrap/bootstrap';
@import 'bootstrap/variables';
@import '_fonts';
@import '_variables';
@import '_reset';
@import '_form_group';
@import '_circle_progress';
@import '_progress_bar';
@import '_home_bar';
@import '_button';
@import '_wrapper';
@import '_start_view';
@import '_questionnaire';
@import '_intro_screen';
@import '_calculating';
@import '_login';
@import '_reset_password';
@import '_sign_up';
@import '_footer';
@import '_subscription-apple-pay';